pkgbase = rozi
	pkgdesc = Hyprland-style tiling terminal multiplexer built on tui-lipan
	pkgver = 0.0.3
	pkgrel = 1
	url = https://github.com/tui-lipan/rozi
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	provides = rozi=0.0.3
	conflicts = rozi-bin
	options = !lto
	options = !debug
	source = rozi-0.0.3.tar.gz::https://github.com/tui-lipan/rozi/archive/refs/tags/v0.0.3.tar.gz
	sha256sums = 53ea6beda427f176e3a8e2c35fc7ee33c746f8e1a3392fc74109846a744566ec

pkgname = rozi
